variables:
  SCHEDULER_PARAMETERS: '-Aclausen1 -N1 --cpus-per-task 48'
#  CUSTOM_CI_BUILDS_DIR: /path/to/preferred/dir

stages:
  - benchmark

# generic docker based job:
docker-job:
  image: debian:stable-slim
  stage: benchmark
  tags:
    - public-docker
  script:
    - apt-get update && apt-get -y install python3 python3-venv
    - python3 -m venv venv
    - ./venv/bin/pip install -e .
    - ./venv/bin/pytest benchmarks/

juwels_cpu_login:
  id_tokens:
    SITE_ID_TOKEN:
      aud: "https://gitlab.jsc.fz-juelich.de"
  stage: benchmark
  tags:
    - juwels
    - jacamar
    - login
    - shell
  script:
    - module load Python/3.12.3
    - python3 -m venv venv
    - pwd
    - ls -la
    - ./venv/bin/pip install -e .  # on the login node, this should actually work
    - ./venv/bin/pytest benchmarks/

juwels_cpu:
  id_tokens:
    SITE_ID_TOKEN:
      aud: "https://gitlab.jsc.fz-juelich.de"
  variables:
    SCHEDULER_PARAMETERS: '-Aclausen1 -N1 --cpus-per-task 48 --partition devel'
  stage: benchmark
  tags:
    - juwels
    - jacamar
    - compute
    - slurm
  script:
    - module load Python/3.12.3
    - python3 -m venv venv
    - pwd
    - ls -la
    - ./venv/bin/pip install -e .  # as we are on the slurm node, this will probably fail?
    - ./venv/bin/pytest benchmarks/

juwels_gpu:
  id_tokens:
    SITE_ID_TOKEN:
      aud: "https://gitlab.jsc.fz-juelich.de"
  variables:
    SCHEDULER_PARAMETERS: '-Aclausen1 -N1 --cpus-per-task 48 --partition develbooster'
  stage: benchmark
  tags:
    - juwels_booster
    - jacamar
    - compute
    - slurm
  script:
    - module load Python/3.12.3
    - python3 -m venv venv
    - pwd
    - ls -la
    - ./venv/bin/pip install -e .  # as we are on the slurm node, this will probably fail?
    - ./venv/bin/pytest benchmarks/

# vim:ts=2:sw=2
