name: benchmarks

on:
    # only trigger benchmark runs by adding a label, which is limited to users
    # that can write to the repository:
    pull_request_target:
        types: [labeled]
    push:

jobs:
    benchmarks:
        runs-on: ubuntu-latest
        if: >-
            (github.repository_owner == 'LiberTEM') &&
            (
             (github.event_name == 'push') ||
             (github.event_name == 'schedule') ||
             (
              (github.event_name == 'pull_request_target') &&
              (contains(github.event.pull_request.labels.*.name, 'benchmark'))
             )
            )
        steps:
            - name: Remove benchmark label (so it can be re-triggered afterwards)
              if: ${{ github.event_name == 'pull_request_target' }}
              run: |
               curl --silent --fail-with-body \
                  -X DELETE \
                  -H 'Accept: application/vnd.github.v3+json' \
                  -H 'Authorization: token ${{ github.token }}' \
                  'https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.number }}/labels/benchmark'
            - name: Checkout
              uses: actions/checkout@v4
            - name: Mirror and get status
              uses: jakob-fritz/github2lab_action@main
              env:
                MODE: 'all'
                GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
                FORCE_PUSH: "true"  # ensure github and gitlab are in sync
                GITLAB_HOSTNAME: "gitlab.jsc.fz-juelich.de"
                GITLAB_PROJECT_ID: "7543"
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.12'
            - name: Compare benchmark results
              if: github.event.pull_request
              env:
                GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                PR: ${{ github.event.pull_request.html_url }}            
              run: |
                python3 -m venv venv
                ./venv/bin/pip install click
                ./venv/bin/python3 compare.py ./artifacts/juwels_cpu_reference_run.zip ./artifacts/juwels_cpu.zip | gh pr comment $PR -F -
